body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetic;
}

.user__image {
  height: 100%;
}
.flex__function {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user__image img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 12px;
}
.container {
  display: flex;
  margin-bottom: 30px;
}
.sideBar {
  margin-left: 30px;
  width: 400px;
  position: relative;
  justify-content: flex-end;
}
.twitter__differentIcons {
  margin-right: 20px;
}
.twitter__differentIcons img {
  height: 30px;
  width: 30px;
}
.sideBar__body {
  height: 100%;
  position: fixed;
  top: 0;
  pointer-events: auto;
}
.sideBar__box {
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 300px;
}
.main__button {
  width: 250px;
  padding: 15px !important;
  height: 56px !important;
}
.main__button button:hover {
  background-color: rgb(0, 153, 255);
}
.mainBody {
  flex: 1;
  height: 150vh;
}
.address {
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}
.address div {
  width: 100%;
  cursor: pointer;
  height: 54px;
  padding: 0 4px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
}
.address div:hover {
  border-radius: 9999px !important;
  background-color: rgba(192, 185, 185, 0.24);
}
.twitter_icon {
  height: 40px;
}
.twitter_icon img:hover {
  background-color: rgb(212 233 246 / 58%);
  border-radius: 100%;
}
.twitter_icon img {
  height: 40px;
  padding: 5px;
}

.twitter__user {
  margin-top: 50px;
}

.twitter__user,
.twitter__userId {
  justify-content: space-between;
}

/* Twitter body is being designed */
.home__style {
  font-size: x-large;
  font-weight: 700;
}
.twitter__body {
  width: 100%;
  display: flex;
  flex: 1;
}

/* designing header body */
.user__name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: inherit;
}
.user__id {
  font-size: 15px;
  font-weight: 400;
  color: gray;
  letter-spacing: -1px;
}

.twitter__mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* border: 1px solid #8080804f; */
  border-left: 1px solid #8080804f;
  border-right: 1px solid #8080804f;
  min-width: 600px;
  max-width: 700px;
}

.world__updates {
  width: 250px;
  background-color: antiquewhite;
}
.home__header {
  margin: 12px;
}
.home__header,
.inputBody {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.inputBody {
  justify-content: flex-start;
  border-bottom: 1px solid #8080804a;
}
.input__Box {
  display: flex;
  position: relative;
  padding-bottom: 10px;
}
.input__Box input {
  flex: 1;
  padding: 20px 5px;
  outline: none;
  border: none;
  font-size: 20px;
}
.inputBody > img {
  margin-right: 10px;
}
.twitter__form {
  width: 100%;
  margin-right: 25px;
}
.more__icon img {
  height: 20px !important;
  width: 20px !important;
  cursor: pointer;
}
.upload__content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.upload__contentIcons {
  width: 200px;
  margin-left: 10px;
  justify-content: space-between;
}

.upload__content div span img {
  height: 20px;
  width: 20px;
}
.twitter__globe {
  padding: 5px;
}
.twitter__globe img {
  height: 15px;
  width: 15px;
}
.twitter__notification {
  justify-content: flex-start;
  border-bottom: 1px solid #8080804a;
  padding: 0 0 7px 0;
}
.input__BoxSpan {
  font-size: revert;
  font-weight: bolder;
  color: rgb(29, 155, 240);
  font-size: 15px;
}
.twiiter__button {
  min-height: 36px;
  cursor: pointer;
  padding: 0 21px;
  border-radius: 9999px;
  border: none;
  background-color: rgb(29, 155, 240);
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.twiiter__button:hover {
  background-color: rgb(5, 154, 253);
}

/* twitter content designing...... */
.twitter__content,
.user__header,
.user__reactionBox {
  justify-content: space-between;
}
.twitter__content {
  border-top: 1px solid #ddd6d682;
  border-bottom: 1px solid #ddd6d682;
}
.twitter__content:hover {
  cursor: pointer;
  background-color: #bfbfbf33;
}
.user__reaction {
  width: 100%;
  height: 40px;
}
.user__content {
  flex-direction: column;
  flex: 1;
  margin: 12px 0;
}
.user__reactionBox {
  width: 80%;
  cursor: pointer;
  height: 100%;
}
.user__content,
.user__uploadedImage {
  overflow: hidden;
}
.user__contentPara {
  width: 100%;
  margin-left: 20px;
  padding: 0;
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
}
.user__uploadedImage {
  margin-right: 20px;
}
.user__uploadedImage img {
  width: 100%;
  border-radius: 33px;
}
.user__reactionBox span img {
  height: 20px;
  padding: 10px;
}
.user__activity {
  border-radius: 9999px;
  overflow: hidden;
}
.user__reply:hover img,
.user__share:hover img {
  background-color: rgb(167 215 247);
}
.user__reply:hover .twitter__replyCount,
.user__share:hover .twitter__userShareCount {
  color: rgb(167 215 247);
}

.user__retweet:hover img {
  background-color: rgb(0 186 124 / 23%);
}
.user__retweet:hover .twitter__userRetweetCount {
  color: rgb(0, 186, 124);
}

.user__love:hover img {
  background-color: #ff000040;
}
.user__love:hover .twitter__userLoveCount {
  color: #ff1e1ea3;
}

.user__lastFeed {
  height: 400px;
  cursor: auto;
}
.user__lastFeed:hover {
  background-color: white;
}

/* Designing right bar */

.rightBar {
  /* margin-left: 0; */
  justify-content: start;
}
.search__twitter {
  margin: 12px 0;
  border: 1px solid;
  border-radius: 9999px;
}
.search__twitter input:focus .search__twitter {
  border: 1px solid aqua !important;
}
.search__twitter input {
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 9999px;
  min-width: 200px;
  font-size: 17px;
  max-width: 400px;
  flex: 1;
}
.search__twitter img {
  height: 25px;
  width: 25px;
  margin: 0 5px;
}
.trending__box .padding {
  padding: 10px;
}
.box {
  justify-content: space-between;
  cursor: pointer;
}
.box:hover {
  background-color: #bfbfbf33;
}
.trending__box {
  height: 600px;
  background-color: #dcdcdc3b;
  border-radius: 21px;
  overflow: hidden;
}
.trending__box h3 {
  padding: 10px;
  margin: 0;
}
.box__content {
  flex-direction: column;
  justify-content: start;
  margin-right: 10px;
}
.box__content p {
  margin: 3px;
  padding: 0;
  text-align: left;
  width: 100%;
  font-size: 14px;
}
.box__more {
  padding: 3px;
}
.box__more img {
  height: 80px;
  width: 80px;
  border-radius: 20px;
}
.box__contentTitle {
  color: #515151;
  font-size: 17px;
}
.showMore__button button {
  outline: none;
  border: none;
  background-color: #dcdcdc00;
  padding: 5px;
  color: rgb(29, 155, 240);
  cursor: pointer;
}
